<!--Computer Graphics (3504837)- Exercise 2-->
<!-- Date: 19.4.2017-->
<!-- students name: Daria Dadov (ID:319575676), Or Amit (ID:301427647) Dima Girya 319308060 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="includes/angular.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="graphicCourseHw3" ng-controller="ctrl">
<div id="wrapper">
    <header>
        <h1>Computer Graphics course (3504837)</h1>
        <h2>Exercise 3</h2>
        <h3>Students:</h3>
        <h4>Daria Dadov (ID:319575676)</h4>
        <h4>Or Amit (ID:301427647)</h4>
        <h4>Dima Girya (ID:319308060)</h4>
        <br>
    </header>
    <section class="menuSection1">
        <section class="menuSection2">
            <h4>Actions:</h4>

            <button class="clearBoardBtn" ng-click="resetBoard()">Reset board</button>
            <!--
            <button class="clearBoardBtn" ng-click="parallel()">Parallel</button>
            <button class="clearBoardBtn " ng-click="cabinet()">Cabinet</button>
            <button class="clearBoardBtn" ng-click="prespctive()">Respective</button>
             -->
            <form>
                <input type="radio" ng-model="projection" ng-change="projectionChange()" value="parallel">Parallel
                <input type="radio" ng-model="projection" ng-change="projectionChange()" value="oblique">Oblique
                <input type="radio" ng-model="projection" ng-change="projectionChange()" value="prespctive">Prespctive
            </form>

            <section class="factorClass">
                <span>Rotate angle:</span>
                <input type="number"
                       ng-model="rotateAngle"
                       min="0"
                       max="180">
            </section>

            <section class="factorSection">
                <button class="clearBoardBtn " ng-click="rotateX()">Rotate X</button>
                <button class="clearBoardBtn " ng-click="rotateY()">Rotate Y</button>
                <button class="clearBoardBtn " ng-click="rotateZ()">Rotate Z</button>
            </section>

            <section class="factorClass">
                <span>Zoom:</span>
                <input type="number"
                       ng-model="scaleFactor"
                       min="0"
                       max="180">
            </section>
            <section class="factorSection">
                <button class="clearBoardBtn " ng-click="zoom()">Zoom</button>
            </section>

        </section>
    </section>
    <canvas id="workingZone" width="800" height="800"></canvas>
</div>
<script src="includes/math.js"></script>
<script src="data.js"></script>
<script src="script.js"></script>
</body>
</html>